body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  color: grey;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.mobile-img {
  transform: rotate(25deg);
  width: 50%;
  position: absolute;
  right: 30%;

}

.mobile-img:hover {
  transform: rotate(0deg);
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;


}

.feature-box {
  text-align: center;
  padding: 6%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef9172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef9172;
  color: #fff;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.control-icon {
  height: 30px;
  width: 30px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-card {
  padding: 3% 2%;
}

@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .mobile-img{
    position: static;
    transform: rotate(0);
  }
}
/* CTA Section */
#cta{
  background-color:  #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.cta-heading{
  font-family: Montserrat;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
/* Footer Section */
#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;

}
.download-button-cta{
  margin: 5% 2% 5% 0;
}

.icon-footer{
  margin:1rem 0.5rem;
}
.footer-paragraph{
  font-size: 12px;
  color: grey;
}
